* {
  margin: 0px;
  font-family: "Red Rose", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  
}


.back{
  position: absolute;
  margin-left: 773px;
}

nav {
  display: flex;
  margin-left: 30px;
}

.nav-menu-icon{
  display: none;
}

.logo {
  width: 160px;
  padding-top: 20px;
}

.nav-items {
  display: flex;
  padding-left: 490px;
  padding-top: 27px;
}

.nav-item {
  padding-left: 30px;
  font-size: 20px;
  letter-spacing: -1px;
  color: #5737a6;
}

.signin {
  padding-left: 280px;
  padding-top: 23px;
  cursor: pointer;
}

.signin-btn {
  padding: 5px 15px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(95, 87, 235, 1) 0%,
    rgba(236, 115, 251, 1) 77%
  );
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


.left-section {
  position: absolute;
  margin-top: 200px;
  margin-left: 50px;
}

.imgs-div {
  position: absolute;
}

h1{
  font-size: 90px;
  color: #053e74;
}

h4{
  font-size: 20px;
  margin-right: 1150px;
  margin-top: 80px;
  margin-left: 20px;
  color: #053e74;
}

.learn-more-btn{
  font-size: 50px;
  padding: 10px 40px 10px 40px;
  border-radius: 40px;
  margin-top: 50px;
  background: linear-gradient(
    90deg,
    rgba(95, 87, 235, 1) 0%,
    rgba(236, 115, 251, 1) 77%
  );
  color: #f9f9f9;
  border: none;
}

.intro {
  z-index: -1;
  margin-left: 700px;
  margin-top: 10px;
}

.vector-img{
  position: absolute;
  margin-top: 700px;
  margin-left: 800px;
}

.vector-dot{
  position: absolute;
  margin-top: 700px;
  margin-left: 850px;
}


@media screen and (max-width:430px)  {
  
  .back{
    margin-left: 0px;
  }
  
  nav {
    display: flex;
    margin-left: 30px;
  }
  
  .logo {
    width: 100px;
    padding-top: 20px;
  }
  
  .nav-items {
    display: none;
  }
  
  
  .signin {
    padding-left: 120px;
    padding-top: 28px;
    cursor: pointer;
  }
  
  .signin-btn {
    padding: 5px 15px;
    border-radius: 20px;
    background: linear-gradient(
      90deg,
      rgba(95, 87, 235, 1) 0%,
      rgba(236, 115, 251, 1) 77%
    );
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }


  .left-section {
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;
  }
  
  .imgs-div {
    position: absolute;
  }
  
  h1{
    font-size: 50px;
    color: #053e74;
  }
  
  h4{
    font-size: 20px;
    margin-right: 50px;
    margin-top: 80px;
    margin-left: 20px;
    color: #053e74;
  }
  
  .learn-more-btn{
    margin-left: 18px;
    font-size: 30px;
    padding: 10px 40px 10px 40px;
    border-radius: 40px;
    margin-top: 50px;
    background: linear-gradient(
      90deg,
      rgba(95, 87, 235, 1) 0%,
      rgba(236, 115, 251, 1) 77%
    );
    color: #f9f9f9;
    border: none;
  }
  
  .intro {
    display: none;
  }
  
  .vector-img{
    display: none;
  }
  
  .vector-dot{
    display: none;
  }
  

  


}


